    {%extends "plantilla.html"%}

    
    {%block body%}

    <title>Editar Albums</title>
    <div class="col-md-5">
<div class="container">
    <form action="/ActualizarAlbum/{{album.0}}" method="post">

<div class="mb-3">

        <label>Titulo:</label>
        <input type="text" name="txtTitulo" value="{{album.1}} " class="form-control">
    </div>

    <div class="mb-3">

        <label>Artista</label>
        <input type="text" name="txtArtista"value="{{album.2}}" class="form-control">
    </div>


<div class="mb-3">
        <label>Año</label>
        <input type="number" name="txtAnio"value="{{album.3}}"class="form-control">
    </div>

        <button type="submit" class="btn btn-outline-success mt-3 mb-5">Editar Album</button>
    </div>

    </div>
        <br>
        <br>
        <br>
    </tbody>x
        {%endblock%}


