<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Albums</title>
</head>
<body>
    <form action="/GuardarAlbum" method="post">



        <label>Titulo:</label>
        <input type="text" name="txtTitulo">

        <label>Artista</label>
        <input type="text" name="txtArtista">


        <label>Año</label>
        <input type="number" name="txtAño">

        <button type="submit">Guardar Album</button>


    </form>
    
</body>
</html>